@import 'utils/mixins';
@import './typography';
@import './utils/vars';
@import '../blocks/page';
@import '../blocks/header';
@import '../blocks/menu-button';
@import '../blocks/icon';
@import '../blocks/first-screen';
@import '../blocks/primary-button';
@import '../blocks/secondary-button';
@import '../blocks/menu';
@import '../blocks/nav';
@import '../blocks/exhibitions';
@import '../blocks/exhibition';
@import '../blocks/events';
@import '../blocks/event';
@import '../blocks/plan-visit';
@import '../blocks/news';
@import '../blocks/news-one';
@import '../blocks/subscribe';
@import '../blocks/form';
@import '../blocks/footer';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
