.menu-button {
  height: 30px;
  width: 30px;
  display: flex;
  padding: 0;
  text-align: center;
  margin: 0 auto;

  // line-height: 100%;
  // z-index: 1;
  background-color: inherit;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__line {
    position: absolute;
    background-color: $c-white;
    height: 2px;
    width: 100%;
    transition: $effect-duration;
    transform-origin: 0;

    &--top {
      top: 0.5;
      left: 0;
    }

    &--center {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &--bottom {
      bottom: 0;
      left: 0;
    }
  }

  &:hover &__line {
    background-color: $c-black;
  }

  &__wrapper {
    position: relative;
    width: 25px;
    height: 20px;
  }

  /* &__open {
opacity: 1;
position: absolute;
display: flex;
align-items: center;
   justify-content: center;
   // padding: 10px;
 // margin: 5px;
// display: block;
// object-position: left;
  // margin-left: auto;
  // margin-right: auto;
  // object-fit: contain;
 // float: left;
     // translate: -8.5px -2.5px;
// z-index: 5;
  height: 30px;
  width: 30px;
  transform: scale(0.9);
     // box-sizing: border-box;
 //background-image: url('../images/icons/menuWhite.png');

&:hover {
   translate: 0px;
 // background-image: url('../images/icons/menu.png');
 }
}

&__close {
opacity: 0;
position: absolute;
 // font-family: $font-raleway-medium;
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 56px;
  // line-height: 24px;
  color: $c-white;
// padding: 0;
// margin: 0 auto;

 display: flex;
 // text-align: center;
 align-items: center;
   justify-content: center;
 // box-sizing: border-box;
 // z-index: 2;
 // translate: -8.5px -2.5px;
  // height: 30px;
  // width: 30px;
   rotate: 45deg;
  // translate: -15px;
  // background-image: url('../images/icons/crossWhite.png');

&:hover {
  color: $c-black;
   // translate: -25px;
  // background-image: url('../images/icons/cross.png');

 }
}
*/

  &--close &__line--top {
    transform: rotate(45deg) scale(1.2);
    top: -10%;
    left: 10%;
  }

  &--close &__line--center {
    opacity: 0;
  }

  &--close &__line--bottom {
    transform: rotate(-45deg) scale(1.2);
    bottom: -5%;
    left: 10%;
  }
}
