.primary-button {
  line-height: $button-height;
  text-decoration: none;
  text-align: center;

  // border: none;
  width: 280px;
  cursor: pointer;
  background-color: $c-main;

  // background-color: inherit;
  color: $c-white;

  @include tablet {
    width: 330px;
  }

  @include desktop {
    width: 270px;
  }

  @include hover(background-color, $c-button-hover);
  @include pressed(background-color, $c-button-pressed);
  @include disabled(background-color, $c-button-disabled);
}
